 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Right now I am a Ph.D. student at Vanderbilt University, focusing on high energy physics. Motivated by interests in physics and computer science, I will continue breaking my limits. </p>
                </div>
                <div class="col-lg-4">
                    <p>This page is built based on Freelancer bootstrap theme, along with D3.js, a JavaScript library for manipulating documents based on data. </p>
                </div>
            </div>
        </div>
    </section>
